$icomoon-font-path: '../fonts/EnterpriseIcons' !default;

$icon-toolbox: "\e92c";
$icon-toolbox-circle: "\e961";
$icon-delete: "\e92b";
$icon-updates: "\e928";
$icon-scans-primary-toolbar: "\e904";
$icon-sites-primary-toolbar: "\e908";
$icon-agents-primary-toolbar: "\e927";
$icon-burp-circle: "\e960";
$icon-issue-severity-information: "\e95c";
$icon-issue-severity-low: "\e95d";
$icon-issue-severity-medium: "\e95e";
$icon-issue-severity-high: "\e95f";
$icon-website: "\e959";
$icon-schedule: "\e95a";
$icon-repeat: "\e95b";
$icon-folder-open: "\e957";
$icon-license: "\e958";
$icon-add: "\e954";
$icon-site-add: "\e955";
$icon-scan-add: "\e956";
$icon-view-disabled: "\e952";
$icon-view: "\e953";
$icon-password: "\e93e";
$icon-credentials: "\e93f";
$icon-teams-circle-path1: "\e940";
$icon-teams-circle-path2: "\e941";
$icon-teams-circle-path3: "\e942";
$icon-teams: "\e943";
$icon-link: "\e944";
$icon-folder-add: "\e945";
$icon-first: "\e946";
$icon-last: "\e947";
$icon-chevron-down: "\e948";
$icon-chevron-up: "\e949";
$icon-chevron-left: "\e94a";
$icon-chevron-right: "\e94b";
$icon-arrow-right: "\e94c";
$icon-arrow-left: "\e94d";
$icon-arrow-up: "\e94e";
$icon-arrow-down: "\e94f";
$icon-order-down: "\e950";
$icon-order-up: "\e951";
$icon-reset: "\e937";
$icon-import: "\e938";
$icon-export: "\e939";
$icon-reset-password: "\e93a";
$icon-problem: "\e93b";
$icon-radio-unselected: "\e93c";
$icon-radio-selected: "\e93d";
$icon-settings: "\e934";
$icon-computer: "\e935";
$icon-empty-checkbox: "\e936";
$icon-ordering: "\e905";
$icon-scans-bg: "\e906";
$icon-portswigger: "\e907";
$icon-burger: "\e933";
$icon-add-checkbox: "\e901";
$icon-add-circle: "\e902";
$icon-agents: "\e903";
$icon-arrow: "\e909";
$icon-arrow-checkbox: "\e90a";
$icon-arrow-pointer: "\e90b";
$icon-arrows: "\e90c";
$icon-calendar: "\e90d";
$icon-cancel: "\e90e";
$icon-cancel-row: "\e90f";
$icon-circle-new: "\e910";
$icon-cross: "\e911";
$icon-cross-checkbox: "\e912";
$icon-cross-circle: "\e913";
$icon-delete-row: "\e914";
$icon-edit: "\e915";
$icon-filter: "\e916";
$icon-filter-box: "\e917";
$icon-filter-box-selected: "\e918";
$icon-filter-circle: "\e919";
$icon-folder: "\e91a";
$icon-groups: "\e900";
$icon-groups-circle: "\e91b";
$icon-information: "\e91c";
$icon-lock-row: "\e91d";
$icon-minus-checkbox: "\e91e";
$icon-minus-circle: "\e91f";
$icon-pane-one: "\e920";
$icon-pane-two: "\e921";
$icon-popup: "\e922";
$icon-results-row: "\e923";
$icon-roles: "\e924";
$icon-roles-circle: "\e925";
$icon-scans: "\e926";
$icon-search: "\e929";
$icon-sites: "\e92a";
$icon-tick: "\e92d";
$icon-tick-checkbox: "\e92e";
$icon-tick-circle: "\e92f";
$icon-users: "\e930";
$icon-users-circle: "\e931";
$icon-warning: "\e932";

