/* colours */

$charcoal: #4c5054;
$dark_grey: #8c8d8e;
$grey: #cbd0d1;
$light_grey: #dce3e5;
$x_light_grey: #ebf0f2;
$white: #ffffff;
$color_purple: #ae75c3;
$dark_purple: #9160a5;
$light_blue: #60bcd8;
$secondary_light_blue: #479aad;
$blue: #0071bc;
$navy: #324d5c;
$green: #70d16d;
$secondary_green: #59b254;
$dark_green: #159c80;
$faded_green: #b8e8b5;
$secondary_dark_green: #00755f;
$yellow: #fcf446;
$secondary_yellow: #f9e20b;
$dark_yellow: #ffaf10;
$secondary_dark_yellow: #ef9900;
$orange: #ff6633;
$light_orange: #ff9100;
$secondary_light_orange: #ff7300;
$dark_orange: #e24920;
$secondary_dark_orange: #fd592e;
$faded_orange: #fcebe8;
$red: #d60000;
$secondary_red: #b50000;
$secondary_dark_red: #7c0000;
$faded_red: #edd6d6;
$dark_red: #b50000;

