button[type="button"], .tk-row-add {
  background-color: $dark_green;
  color: $white;
  transition: all .3s ease;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  padding: 6px 16px;
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1;

      &:active, &:hover {
          background: $secondary_dark_green;
      }

      &.btn-danger {
      background: $red;

      &:active, &:hover {
                background: $dark_red;
            }
      }
}

a, .typedef-trigger {
    color: $orange;
    text-decoration: none;

    &:hover {
        color: $charcoal;
        text-decoration: underline;
    }
}

button[type="button"] {
    &.close {
        background: none;
        font-size: 36px;
        padding: 0;
        font-weight: normal;
        border: none;
    }
}

.tk-row-add {
  font-size: 12px;
  padding: 3px 8px 3px 4px;
  border-radius: 10px;
  font-family: Droid Sans,Arial,sans-serif !important;

  &:before {
    font-family: 'enterprise';
    padding-right: 5px;
  }
}

.tk-row-remove {
 cursor: pointer;
 color: $dark-grey;
 font-size: 16px;

  &:hover {
    color: $orange;
  }
}